*{
    margin: 0;
    padding:  0;
    box-sizing: border-box;
    }

    :root{
        scroll-behavior: smooth;
    }

    body{
        font-family: 'Open Sans', sans-serif;
    }

    .contenedor{
        width: 90%;
        max-width: 1200px;
        overflow:hidden;
        margin: auto;
        padding: 60px 0 ;
    }   

    header{
     height: 100vh;
     background-image: linear-gradient(to top, rgba(255, 241, 235, 0.301) 0%, rgba(172, 225, 249, 0.253) 100%), url(../img/portada2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    }

    .head{
        padding: 0;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction:column;
        color: #fff;

}

.menu-navegacion {
    list-style: none;
    padding: 0;
    background-image: #000a0c;
    width: 100%;
    max-width: 1000px;
    margin: auto;
}
.menu-navegacion li a{
    padding: 21px;
    display:block;
    text-decoration: none;
    color: white;
}
.menu-navegacion li{
    display: inline-block;
    text-align: center;
}
.menu-navegacion  li a:hover{
    background: #4deee6;

}


.spread{
    transform: translate(0);
    color:#fff;
    text-decoration: none ;
}

.titulo{
    font-size: 60px;
    margin-bottom: 15px;
}

.copy{
    font-weight: 300;
    font-size: 25px ;
}


.subtitulo{
    text-align: center;
    font-weight: 300;
    color:#9f8ad0;
    margin-bottom: 40px;
    font-size: 40px;
}

.contenedor-servicio{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.contenedor-servicio img{
    width: 40%;
}

.checklist-servicio{
    width: 45%;
}

.servie{
    margin-bottom: 7px;
    color: #9f8ad0;
}

.number{
    display: inline-block;
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    width: 30px;
    height:30px;
    color:#fff;
    text-align: center;
    border-radius: 50%;
    font-weight: 700;
    line-height: 30px;
    margin-right: 5px;
}

.gallery{
    background: #f2f2f2;
}

.contenedor-galeria{
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.img-galeria{
    width: 30%;
    display: block;
    margin-bottom: 15px;
    box-shadow: 0 0 6px rgba(0,0,0, .5);
    cursor: pointer;
}



.show{
    transform: translate(0);
}



.showImage{
    transform: scale(1);
}

.close{
    position: absolute;
    top: 15px;
    right: 15px;
    width: 40px;
    cursor: pointer;
    }

    footer{
        background: #9f8ad0;
       padding-bottom: 0.1px;
    }

    .footer-content{ 
        display: flex;
        justify-content: space-between;
        align-items:center;
        flex-wrap: wrap;
        padding-top: 60px;
        padding-bottom:40px
    }
    .contact-us{
        width: 40%;
        color: #fff;
    }

    .brand{
        font-weight: 500;
        font-size: 40p;
    }

    .brand+p{
        font-weight: 500;
    
    }

    .social-media{
        width: 50%;
        display: flex;
        justify-content: flex-end;
    }

    .social-media-icon{
        display: inline-block;
        margin-left: 20px;
        width: 60px;
        height: 60px;
        border: 1px solid #fff;
        border-radius: 50%;
        text-align: center;
        color: #fff;
    }

    .social-media-icon:hover{
        background: #fff;
        color: #764ba2;
    }

    .social-media-icon i{
        font-size: 30px;
        line-height: 60px;
    }

    .line{
        width: 90%;
        max-width: 1200px;
        margin: auto;
        height: 2px;
        background: #fff;
        margin-bottom: 60px;
    }
    

    